@charset "utf-8";
/* CSS Document */
/*header*/
#bgheader{
    height: 50px;
    padding-bottom: 120px;
}
.headertitle h1{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-align: center;  
}
/*NAVI*/
#contbg{
    height: 900px;
}
#navibox{
    height: 900px;
}
#navibox ul
/*content*/
.form-control{
    margin-left:-100px !important;
    display: block ;
  width: 50px !important;
    height: 20px ;
}